/* Home.jsx */
/* サイドメニューの通常状態 */
nav .sidebarLink {
  color: #333333;
  text-decoration: none;
  transition: color 0.2s;
  padding: 0.5rem 1rem;
  font-weight: bold;
  user-select: none;
}
/* ホバー時 */
nav .sidebarLink:hover {
  color: #ff6f61;
  user-select: none;
}
/* アクティブ状態（今いるページ） */
nav .nav-link.sidebarLink.active {
  background-color: #fffcf1;
  color: #ff6f61 !important;
  font-weight: bold;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
}


/* ログアウトボタンのスタイル */
.my-btn {
  background-color: #ff6f61;
  color: #ffffff;
  border: 1px solid #ff6f61;
  font-weight: bold;
  width: 100%;
  border-radius: 50rem; /* rounded-pill と同等 */
  transition: background-color 0.3s, border-color 0.3s; /*遷移効果*/
}
.my-btn:hover { /*ホバースタイル*/
  background-color: #eb4233; /* 濃いめのホバー色 */
  border-color: #e85a4d;
  color: #ffffff; /* 必要なら変えてもOK */
}