/* PCはmax-width 60vwを基準 */
.chat-bubble {
  max-width: 60vw !important;
}

/* スマホ画面用の調整 */
@media (max-width: 576px) {
  .chat-bubble {
    max-width: 90% !important;
  }
  .chat-time {
    font-size: 12px !important;
  }
  input.form-control {
    font-size: 14px;
  }
  button.btn-success {
    font-size: 14px;
    padding: 6px 12px;
  }
}
